name: Tests

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: install node v14.13
        uses: actions/setup-node@v1
        with:
          node-version: "14.13"
      - run: yarn install
      - run: yarn test
